*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background: url(background.jpeg) no-repeat fixed;
    background-size: cover;
    background-position: center; */
    background-color: #DFCFBE;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    display: flex;
    max-width: 100%;
    background-color: white;
    text-align: center;
    justify-content: space-around;
    top: 0;
    position: sticky;
    z-index: 1;
}

.navbar ul{
    display: inline-flex;
    list-style: none;
}

.navbar ul li{
    /* width: 120px; */
    margin: 15px;
    padding: 15px;
    opacity: 0.3;
    transition: 0ms;
}

.myname{
    margin: 11px;
    padding: 11px;
    white-space: nowrap;
    /* font-size: 24px; */
    font-family: 'Roboto Slab', serif;
}

.initials{
    display: none;
}

a{
    text-decoration: none;
    color: black;
    border-radius: 2px;
}

#active{
    opacity: 1.0;
}

.navbar ul li:hover{
    opacity: 1.0;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.aboutme{
    width: 50%;
}

img{
    transform: scale(0.5);
    z-index: 2;
}

  @media only screen and (max-width: 700px) {
    .wholepage{
        display: flex;
        flex-direction: column;
    }

    .home{
        padding: 5px;
    }

    .aboutme{
        width: 100%;
    }
    
    .navbar {
      /* display: none; */
      flex-direction: column;
      /* width: 25%;   */
      /* background-color: transparent; */
      /* justify-content: center; */
    }
  
    .myname{
        /* display: none; */
    }

    .navbar ul{
        /* display: inline; */
        
    }


    .navbar ul li{
        margin-bottom: 0px;

    }

    /* .initials{
        display: block;
        margin: 12px;
        margin-bottom: 0px;
    padding: 12px;
    padding-bottom: 0px;
    font-family: 'Roboto Slab', serif;
    } */
   
  }
